In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
serias = Series([1,3,-4, 19])

In [3]:
print(serias)

0     1
1     3
2    -4
3    19
dtype: int64

In [4]:
print(serias.index)
print(serias.values)

RangeIndex(start=0, stop=4, step=1)
[ 1  3 -4 19]

In [10]:
serias.index = [1,2,3,4]
serias.name = "Population"

In [11]:
print(serias)

1     1
2     3
3    -4
4    19
Name: Population, dtype: int64

In [12]:
print(serias[serias>0][serias<10])

1    1
2    3
Name: Population, dtype: int64

In [13]:
pd.isnull(serias)

1    False
2    False
3    False
4    False
Name: Population, dtype: bool

In [55]:
data = {"state":["ohio", "Ohio"], "year":[2009,2010]}
df = pd.DataFrame(data, columns=["year", "state", "debt"])
print(df.shape[0])
df["debt"] = [i for i in range(0,df.shape[0])]

2

In [56]:
print(df)

   year state  debt
0  2009  ohio     0
1  2010  Ohio     1

In [26]:
print(df.loc[1])

year     2009
state    ohio
debt      NaN
Name: 1, dtype: object

In [65]:
import json

In [79]:

#df.columns = ["title","work_experience" , "region", "salary"]
df = pd.read_json("data.json")
df = pd.DataFrame(df.data.values.tolist())

dict_keys(['title', 'work_experience', 'region', 'salary'])

In [80]:
df.describe()

                   title  ...                              salary
count                800  ...                                 196
unique               590  ...                                 112
top     Python Developer  ...  от 100 000 до 170 000 руб. на руки
freq                  19  ...                                   9

[4 rows x 4 columns]

In [81]:
import pandas as pd

In [86]:
df = pd.read_csv("titanic.csv", index_col="PassengerId")

In [102]:
df.head()

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S

[5 rows x 11 columns]

In [95]:
df.groupby("Survived").count()

          Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
Survived
0            549   549  549  424    549    549     549   549     68       549
1            342   342  342  290    342    342     342   342    136       340

In [98]:
total_serv = df.Survived.sum()

In [101]:
round(total_serv*100/df.Survived.count(),2)

38.38

In [114]:
treeclass = df[df.Pclass==1].Survived.count()

In [117]:
print(round(treeclass*100/df.Survived.count(), 2), "%", sep="")

24.24%

In [119]:
age_column = df["Age"]

In [121]:
print(age_column.mean(), age_column.median())

29.69911764705882 28.0

In [123]:
df2 = pd.DataFrame(df, columns=["SibSp","Parch"])

In [128]:
df2.corr().loc["SibSp","Parch"]

0.41483769862015624

In [135]:
names = list(df[df["Sex"]=="female"].Name)

In [283]:
import pandas as pd
import re

In [284]:
json = pd.read_json("data.json")
df = pd.DataFrame(json.data.values.tolist())

In [285]:
def get_type_direction(title):
    dev =["backend", "python-разработчик","программист", 
          "python разработчик","python developer","python developer","Django"]
    ml = ["машин", "ml"]
    ds = ["data scientist"]
    de = ["data engineer"]
    devops = ["devops"]
    analyst = ["analyst"]
    lt = title.lower()
    if "engenering" in lt:
        return "Software Engenering"
    elif any(s.lower() in lt for s in dev):
        return "developer"
    elif any(s.lower() in lt for s in ml):
        return "ML"
    elif any(s.lower() in lt for s in de):
        return "DE"
    elif any(s.lower() in lt for s in ds):
        return "DS"
    elif any(s.lower() in lt for s in devops):
        return "DevOps"
    elif any(s.lower() in lt for s in analyst):
        return "Analyst"
    else:
        return "etc"

In [313]:
def get_current_salary(salary):
    print(salary)
    if salary == "nan":
        return 0
    m = re.findall(r'(\d+)[^\d]+(\d+)', salary.strip())
    if len(m)>0:
        print(m)
        return int("".join(m[0]))
    return 0

In [314]:
df["direction"] = df.apply(lambda x: get_type_direction(x.title), axis=1)

In [315]:
df["salary"] = df.apply(lambda x: get_current_salary(x.salary), axis=1)

от 2 500 до 3 000 USD на руки
[('2', '500'), ('3', '000')]
от 2 500 до 3 000 USD на руки
[('2', '500'), ('3', '000')]
от 2 500 до 3 000 USD на руки
[('2', '500'), ('3', '000')]
от 2 500 до 3 000 USD на руки
[('2', '500'), ('3', '000')]
от 2 500 до 3 000 USD на руки
[('2', '500'), ('3', '000')]
nan

AttributeError: 'float' object has no attribute 'strip'

In [275]:
group = df.groupby(by="direction")

In [281]:
group.salary